@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(200%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


.item-enter {
  opacity: 0;
}
.item-enter-active {
opacity: 1;
transition: opacity 700ms ease-in;
}
.item-exit {
opacity: 1;
}
.item-exit-active {
opacity: 0;
transition: opacity 700ms ease-in;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.typeWriter{
  font-weight: bold;
  margin: 0 auto;
  color: rgb(245, 127, 9);

}

.typeWriterCursor {
  color: rgb(245, 127, 9);
}
.responsive {
  /* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
  width: 100%;
  background-color: red;
} 

@media (prefers-color-scheme: dark) {
  body {
    background-color: red;
    color: red;
  }
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  width: 786px;
  background-color: blue;
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  width: 128px;
  background-color: orange;
}

}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

